<!DOCTYPE html>
<html>
  <head>
    <title>Employee Delete</title>
      
  </head>
  <%- include('../Partials/topNav.ejs') %>
 <body>
  status: <%=resultstatus%>
    
  <table>
    <div class="empsearch">
      
      <form  name="empbyidform" action="/empdelsearch" method="post">
        <tr>
          <td><label>Search Value:  </label> </td>
          <td><input type="text"  name="empdelsearch" size="20" > </td> 
          <td><label> By: City, Employee, ID,	Last, Name,	First Name,	Phone,	eMail,	Office Code,	Job Title</label></td><br>
        </tr>
        <tr>
        <td><button type="submit">Search</button></td>
    </tr>
    
    
    </div>
    
    
  </table>

  <div class="table-data">
        <h2>Employee Search</h2>
            <table border="1">
                <tr>
                  
                     <th>Index</th>
                    <th>City</th>
                    <th>Employee ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Phone</th>
                    <th>eMail</th>
                    <th>Office Code</th>
                    <th>Job Title</th>
                 
                </tr>
                
                <%

               if( resultdata.length!=0){
              var i=1;
              resultdata.records.forEach(function(record){
              %>
              <tr>
                  <td><%=i; %></td>
                  <td><%=record.officeCode_Value%></td>
                  <td><%=record.employeeNumber%></td>
                  <td><%=record.lastName%></td>
                  <td><%=record.firstName%></td>
                  <td><%=record.extension%></td>
                  <td><%=record.email%></td>
                  <td><%=record.officeCode%></td>
                  <td><%=record.jobTitle%></td>
                  <td> <form  name="empdel" action="/empdel" method="post">
                    <input type="hidden"  name="employeeNumber" size="20" value='<%=record.employeeNumber%>' > 
                    <button type="submit">Delete</button>
                    </form>
                  </td>
                  <td>Status </td>
                    
                  </tr>
                    <%  i++; }) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="7"><%=resultdata.message%></td>
                    </tr>
                    <% } %>
            </table>
            </div>
      </form>
      
</body>
</html>








  